.ProductPreview {
  width: 100%;
  position: relative;
}
.ProductPreview > img {
  width: 100%;
}
.FeatureTimesection {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 600;
}
.FeatureHeartBeat {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 600;
}
.FeatureHeartBeat > i {
  color: red;
  animation: beat 1s infinite;
}
@keyframes beat {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.FeatureHeartBeat > p {
  margin-top: 16px;
}
